@model IEnumerable<OnlineClinic.Models.Slot>

@{
	ViewData["Title"] = "Index";
}

<h2>Slots</h2>

@if (Doctor.IsDoctor(User))
{
	<p>
		<a asp-action="Create">Open slots</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TimeStart.DayOfWeek)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TimeStart.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TimeStart.Hour)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Duration)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsBooked)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.TimeStart.DayOfWeek)
				</td>
				<td>
					@(item.TimeStart.ToString("dd MMMM"))
				</td>
				<td>
					@(item.TimeStart.ToString("h:mm tt"))
					<br /> ~
					@( item.TimeEnd.ToString("h:mm tt"))
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Duration)
				</td>
				<td>
					@if (item.IsBooked)
					{
						<span style="color: red">
							Booked
						</span>
					}
					else
					{
						<span style="color: green">
							<b>Available</b>
						</span>
					}
				</td>

				<td>
					@if (Doctor.IsDoctor(User))
					{
						<span>
						@if (!item.IsBooked)
						{
							<span><a asp-action="Book" asp-route-partitionkey="@item.PartitionKey" asp-route-rowkey="@item.RowKey">Close Slot</a> | </span>
						}
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						</span>
					}
					else
					{

						<a asp-action="Book" asp-route-partitionkey="@item.PartitionKey" asp-route-rowkey="@item.RowKey">Book</a>
					}
				</td>

			</tr>
		}
	</tbody>
</table>
