@model IEnumerable<OnlineClinic.Models.Appointment>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<!-- <a asp-action="Create">Create New</a> -->
</p>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Day</th>
			<th>Date</th>
			<th>Time</th>
			<th>Duration</th>
			<th>status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Appointment A in Model)
		{
			<tr>
				<td>@A.Id</td>
				<td>@A.Slot.TimeStart.DayOfWeek</td>
				<td>@A.Slot.TimeStart.Date</td>
				<td>@A.Slot.TimeStart.ToString("h:mm tt") <br /> ~ @A.Slot.TimeEnd.ToString("h:mm tt")</td>
				<td>@A.Slot.Duration</td>
				<td><span style="color: red">@(A.IsCancelled ? "Cancelled" : "")</span></td>

				<td>
					<a asp-action="Cancel" asp-route-id="@A.Id">Cancel</a>
				</td>
			</tr>
		}
	</tbody>
</table>
